@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');




:root{
    --primary-color: #10A19F ;
    --dark-gray: #E9E8E8;
    --button-color: #3f3d56;
    --purple-color: #7c3aed;
}

/* #BCEAD5 */
body{
    font-family: 'Montserrat', sans-serif;
    text-decoration-color: #3f3d56;
    margin: 0px;
}

a{
    text-decoration: none;
}

.container{
    padding-left: 1rem;
    padding-right: 2rem;
    
}
.container-center{
    max-width: 600px;
    margin: auto;
    text-align: center;
    
}

.container-fluid{
    margin: auto;
    max-width: auto;

}
/* footer */

hr{
    margin: 5rem;
}
.my-name{
    margin: 50px 0px 0px 0px ;
    font-family: 'Sacramento', cursive;
    font-family: "Sacramento";
    font-size: 3.7rem;
    text-align: center;
    color: var(--button-color);
    
}

.h1-project{
    margin: 4rem 1rem;
    color: var(--primary-color);
    text-align: center;
    font-size: 1.5rem;
}

.hero .hero-img{
    max-width: 400px;
    display: block;
    margin: auto;
    margin-top: 3.5rem;
    margin-bottom: 0.5rem; ;

}
/* .hero-heading{
color: var(--button-color);
font-size: 3.7rem;
text-align: center;
margin-top: 0rem;
} */

/* .hero .hero-heading  */
.heading-inverted{
    color: var(--primary-color);
    padding-top: 0rem;
    margin-top: 0rem;
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
}
.heading-inverted:hover{
    color: var(--button-color);
}
.hero-work{
    padding: 0px;
}

/* links */
.link{
    text-decoration: none;
    /* color: white; */
    padding: 0.5rem 1rem;
}

 
 
.link-primary{
    text-decoration: none;
    padding: 0.5rem 1rem;
   
 background-color: var(--primary-color);
 border-radius: 1rem;
 color: whitesmoke;
 margin: 1rem 1em;
}
.link-primary:hover {
    background-color: var(--button-color);
}

.link-secondery{
 text-decoration: none;
 padding: 0.5rem 1rem;
 color: black;
 border-radius: 1rem;
 border: 1px solid var(--primary-color);
}
.link-secondery:hover {
    background-color: var(--button-color);
    color: white;
}


.list-non-bullet{
    list-style: none;

}
.list-item-inline{
 display: inline;
 padding: 0rem 0.5rem;
}



/* navigation */



.navigation{
     background-color: var(--primary-color);
     color: white;
     padding: 0.1rem;
     border-bottom-left-radius: 1rem;

}
.navigation .nav-brand{
    font-weight: bold;
    padding-left: 1rem;
    padding-top: 0.6rem;
    /* font-size: 1.1rem ; */
}
.navigation .nav-pills{
    text-align: right;
}
.navigation .link{
    color: white;
    
}
.navigation .link:hover {
    color: var(--button-color);
}

.naviagation .link-active{
    font-weight: bold;

}

.section{
    margin: 0px 3rem;
    padding: 3rem;
}

.section-one{
    background-color: var(--dark-gray);
    border-radius: 1rem;
}

.section-project{
    margin-top: 2rem;
}

.footer{
    background-color: var(--primary-color);
    text-align: center;
    font-size: 1.5rem;
    border-top-right-radius: 1rem;
    color: white;
    margin-top: 6rem;
    padding: 1rem 0rem;

}
.footer-header{
    font-weight: bold;
    font-size: large;
}
.footer-links{
    padding: 0px;
    margin-bottom: 0rem;
    color: white;
}

.footer-links:hover{
    color: var(--button-color);
}

.footer-icon{
    margin: 0px;
    padding: 0px;
    width: 25px;
    height: 25px;
    border-radius: 50% ;
}


.social-media-space{
    margin-left: 2rem;
    padding: 0px 0px;
}


/* bmi calculator */
.bmi-back{

}
.bmi-hero{
    color: var(--purple-color);
    margin-top: 3rem;
}

.text{
    padding: 0px;
    margin-bottom: 1px;
}
#btn{
    font-size: inherit;
    font-size: large;
    margin-top: 10px;
    border: none;
    color: var(--button-color);
    background-color: var(--purple-color);
    padding: 10px;
    outline: none;
    cursor: pointer;
    border-radius: 4px;

}
#btn:hover{
color: white;
background-color: var(--button-color);
box-shadow: 1px 1px 10px #341f97;
}
.info-color{
    color: var(--purple-color);
}
.bold{
    font-weight: bold;
}
/* bmi calculator */